/* Variables */

:root {
  --color-dark: rgb(30, 48, 80);
  --card-shadow: 1px 1px 6px -2px rgb(51, 50, 50);
  --card-radius: 0.5rem;
  --font-shadow: "Rubik Doodle Shadow", system-ui;
  --font-handwritten: "Coming Soon", cursive;
  --sky: linear-gradient(545deg, rgba(135,206,235,1) 100%, rgba(45,118,253,0.9388349089635855) 100%);
  --sun: linear-gradient(171deg, rgba(246,224,42,1) 45%, rgba(246,139,42,1) 96%);
}

::selection {
    background: rgb(240, 240, 30);
  }

.link {
    color: var(--color-dark);
    text-decoration: none;
}

body {
    padding: 0;
    margin: 0;
}
.sky {
    background: rgb(135,206,235);
    background: linear-gradient(53deg, rgba(135,206,235,1) 55%, rgba(45,118,253,0.9388349089635855) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
.sun {
    background: rgb(246,224,42);
    background: linear-gradient(220deg, rgba(246,224,42,1) 45%, rgba(246,139,42,1) 96%);
    background-repeat: repeat;
    background-attachment: fixed;
}


/* Cards */

.charCard {
    margin: 0.6rem;
    padding: var(--card-radius);
    border-radius: 0.5rem;
    max-width: 10rem;
    min-width: 9rem;
    max-height: 11rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #fff;
    box-shadow: var(--card-shadow);
    transition: all 200ms ease-in;
    overflow: hidden;
}
.charCard:nth-of-type(odd):hover {
    transform: scale(1.20) rotate(-3.2deg);
}
.charCard:nth-of-type(even):hover {
    transform: scale(1.12) rotate(3.2deg);
}

.charCard img {
    margin-top: 0.5rem;
    width: 4rem;
    border-radius: 0.5rem;
}

.charCard h3 {
    margin: 0 0 0.2rem;
    font-family: var(--font-shadow);
}

.storeCard {
    margin: 1rem;
    padding: 0.7rem 1rem 0.3rem;
    border-radius: 0.3rem;
    max-width: 11rem;
    min-width: 9rem;
    height: 19rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background: #fff;
    transition: all 200ms ease-in;
    overflow: hidden;
    box-shadow: var(--card-shadow);
}
.storeCard h3 {
    margin: 0 0 0.4rem;
    font-family: var(--font-shadow);
    font-size: 0.9rem;
}
.storeCard img {
    margin-top: 0.5rem;
    width: 10rem;
    border-radius: 0.2rem;
}
.storeCard p {
    font-family: var(--font-handwritten);
    font-size: 0.8rem;
}
/* Headers */
.header {
    display: flex;
    justify-content: center;
}
.heading {
    text-align: center;
    margin: 1rem 0 0;
    font-family: var(--font-shadow);
    width: max-content;
    padding: 0.2rem 1rem;
    font-size: 1.8rem;
    /* z-index: -1;   */
}
.header--secondary {
    display: flex;
    justify-content: start;
}
.heading--secondary {
    text-align: left;
    font-family: var(--font-shadow);
    width: max-content;
    font-size: 1.3rem;
    margin-bottom: 0;
}

/* Navbar */
.logo {
    width: 13rem;
}
.burger {
    width: 3rem;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    transition: all 300ms ease-in;
}
.burger:hover {
    transform: scale(1.10);
}
.burger:active {
    transform: rotate(10deg) scale(1.10);
}

.nav {
    display: grid;
    padding: 0.3rem 1rem;
    align-items: center;
    border-bottom: 2.5px solid var(--color-dark);
}
.nav-sky {
    background: var(--sky)
}
.nav-sun {
    background: rgba(246,224,42,1)
}

.input {
    border: none;
    background: none;
    outline: none;
    color: var(--color-dark);
    padding: 0.3rem;
    max-width: 7.3rem;
    font-size: 0.88rem;
}

.search__bar {
    padding: 0.1rem 0.4rem;
}


.btn {
    border: none;
    background: none;
    border-radius: 0.3rem;
    color: #fff;
    transform: translateY(3px);
    transition: transform 200ms;
}

.btn:hover {
    transform: rotate(30deg);
}
.switch {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 29px;
    right: 0.9rem;
    top: 3.8rem;
  }
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
.toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
.toggle:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
.sun .toggle {
    background: rgb(135,206,235);
    background: linear-gradient(53deg, rgba(135,206,235,1) 55%, rgba(45,118,253,0.9388349089635855) 100%);
}
.sky .toggle {
    background: rgb(246,224,42);
    background: linear-gradient(171deg, rgba(246,224,42,1) 45%, rgba(246,139,42,1) 96%);
}
  
/* input:focus + .toggle {
    box-shadow: 0 0 1px #2196F3;
} */
  
input:checked + .toggle:before {
    transform: translateX(20px);
  }
  

  /* main body */
.toggle.round {
    border-radius: 34px;
  }
.toggle.round:before {
    border-radius: 50%;
  }

/* Grid */
.container {
    display: grid;
    justify-content: center;
    padding: 1rem 10rem;

}

@media (min-width: 400px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .heading {
        font-size: 2rem;
        margin: 1.8rem 0 0.2rem;
        /* line-height: 1rem; */
    }
    .backdrop {
        margin: 1.5rem 0.8rem;
        border-radius: 0.3rem;
    }
    .info__block {
        margin: 0 2rem;
    }
    .store__description p {
        font-size: 0.7rem;
    }
    .heading--secondary {
        font-size: 2rem;
    }
}
    
@media (min-width: 550px) {
    .heading {
        font-size: 2.5rem;
    }
    .search__bar {
        transform: translateX(-4rem);
        box-shadow: var(--card-shadow);
        border-radius: 1rem;
    }
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .grid__store {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .backdrop {
        margin: 2rem 1.2rem;
    }

    .nav {
        display: flex;
        justify-content: space-between;
    }
    .logo {
        width: 10rem;
    }
    .burger {
        width: 2.3rem;
        transition: transform 200ms;
        position: static;
    }
    .switch {
        width: 50px;
        height: 29px;
        right: 3.9rem;
        top: 0.78rem;
      }
}
@media (min-width: 800px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .heading {
        font-size: 3rem;
    }
    .grid__store {
        grid-template-columns: repeat(3, 1fr);
    }
    .search__bar {
        padding: 0.1rem 2rem;
    }
    .store__description p {
        font-size: 0.9rem;
    }
}
@media (min-width: 1000px) {
    .grid {
        grid-template-columns: repeat(5, 1fr);
    }
    .heading {
        font-size: 3.2rem;
    }
}
@media (min-width: 1300px) {
    .grid {
        grid-template-columns: repeat(6, 1fr);
    }
    .container {
        padding: 1rem 8rem;
    }
}
@media (min-width: 1600px) {
    .grid {
        grid-template-columns: repeat(7, 1fr);
    }
    .container {
        padding: 1rem 10rem;
    }
}
@media (min-width: 2000px) {
    .grid {
        grid-template-columns: repeat(8, 1fr);
    }
    .container {
        padding: 1rem 15rem;
    }
}

/* Character Detail Cards */
.detail__container {
    display: grid;
    justify-items: center;
}
.detail__image {
    width: 4rem;
}
.detail__card {
    margin: 1.5rem;
    display: grid;
    gap: 1.5rem;
}
.card__header {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    background-color: #fff;
    width: 100%;
    font-family: var(--font-shadow);
    border-radius: var(--card-radius);
    box-shadow: var(--card-shadow);
    padding: 0.3rem 0.5rem;
    transform: rotate(-2.8deg);
    overflow: hidden;
}

.card__body {
    background-image: url(static/paper-vert.jpg);
    background-size: contain;
    padding: 1rem;
    border-radius: 3px;
    font-family: var(--font-handwritten);
}

.card__body ul {
    list-style: none;
    padding: 0;
}
.card__body ul p {
    margin: 0;
}
.big__name {
    font-size: 1rem;
}

@media (min-width: 325px) {
    .card__header {
        width: 270px;
    }
}
@media (min-width: 550px) {
    .detail__card {
        display: grid;
        grid-template-columns: 270px 1fr;
    }
    .card__header {
        height: 154px;
        margin-top: 2rem;
    }
    .card__body {
        max-width: 24rem;
    }
}

/* Menu */
.menu {
    background: rgb(60, 60, 60);
    position: absolute;
    right: 1.2rem;
    width: 8rem;
    background-image: url(static/paper-vert.jpg);
    background-size: contain;
    padding: 0.5rem;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    text-wrap: nowrap;
    display: grid;
    justify-items: center;
    box-shadow: var(--card-shadow);
    z-index: 1;
}

.menu__link {
    font-family: var(--font-handwritten);
    text-decoration: none;
    color: #000;
}
.menu__link:hover {
    text-decoration: underline;
}

/* Select */
.select__container {
    display: flex;
    justify-content: start;
    margin-top: 0.7rem;
}
.select {
    outline: none;
    border: none;
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    box-shadow: var(--card-shadow);
    font-size: 1rem;
    opacity: 0.75;
}


.store__description {
    margin: 1rem 0 1.5rem 1.3rem;
    padding: 0 3rem 0 0;
    font-family: var(--font-handwritten);
    font-size: 0.6rem;
}
.store__description p {
    opacity: 0.80;
    margin-bottom: 0;
}
.attribution {
    color: gray;
    font-size: 0.4rem;
}

.backdrop {
    background: #f5f5f5;
    background-size: contain;
    max-width: 70rem;
    display: flex;
    justify-content: center;
}
/* @media (min-width: 1380px) {
    .backdrop {
        margin: 2rem auto;
    }
} */
.info__block {
    text-align: left;
    padding: 2rem 2rem 0.2rem 0;
    max-width: 50rem;
}
.right__block {
    background: #373737;
    
    color: #f5f5f5;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.store__pic {
    display: none;
}
@media (min-width: 1000px) {
    .grid-left {
        display: grid;
        grid-template-columns: 1fr 28%;
    }
    .right__block {
        margin: 2rem 2rem 0 0;
        border-radius: 0.3rem;
    }
    .store__pic {
        width: 10rem;
        margin: 1rem auto 0.5rem;
        display: block;
        border-radius: 0.3rem;
        border: 2px solid #fff;
        display: block;
    }

}
.slider {
    width: 50rem;
}
@media (max-width: 1300px) {
    .slider {
        width: 40rem;
    }
}
@media (max-width: 1100px) {
    .slider {
        width: 37rem;
    }
}
@media (max-width: 775px) {
    .slider {
        width: 30rem;
    }
}
@media (max-width: 620px) {
    .slider {
        width: 25rem;
    }
}
@media (max-width: 575px) {
    .slider {
        width: 15rem;
    }
}
.slider__container {
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
}
.slick-prev:before, .slick-next:before {
    color: rgba(45,118,253,0.9388349089635855) !important;
    font-size: 1.6rem !important;   
}
.slick-slide.slick-active.slick-cloned{
    display: none;
}




