/* Variables */

:root {
  --color-dark: rgb(30, 48, 80);
  --card-shadow: 1px 1px 6px 0px rgb(51, 50, 50);
  --card-radius: 0.5rem;
}

::selection {
    background: rgb(240, 240, 30);
  }

.link {
    color: var(--color-dark);
    text-decoration: none;
}

body {
    padding: 0;
    margin: 0;
    background: rgb(135,206,235);
    background: linear-gradient(53deg, rgba(135,206,235,1) 55%, rgba(45,118,253,0.9388349089635855) 100%);
    background-repeat: repeat;
    background-attachment: fixed;
}

.charCard {
    margin: 0.6rem;
    padding: var(--card-radius);
    border-radius: 0.5rem;
    max-width: 10rem;
    min-width: 9rem;
    max-height: 11rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #fff;
    box-shadow: var(--card-shadow);
    transition: all 200ms ease-in;
    overflow: hidden;

}
.charCard:nth-of-type(odd):hover {
    transform: scale(1.20) rotate(-3.2deg);
}
.charCard:nth-of-type(even):hover {
    transform: scale(1.12) rotate(3.2deg);
}

.charCard img {
    margin-top: 0.5rem;
    width: 4rem;
    border-radius: 0.5rem;
}

.charCard h3 {
    margin: 0 0 0.2rem;
    font-family: "Rubik Doodle Shadow", system-ui;
}
.header {
    display: flex;
    justify-content: center;
}
.heading {
    text-align: center;
    margin: 1rem 0 0;
    font-family: "Rubik Doodle Shadow", system-ui;
    width: max-content;
    padding: 0.2rem 1rem;
    font-size: 1.8rem;
    z-index: -1;
    
}

/* Navbar */
.logo {
    width: 13rem;
}
.burger {
    width: 3rem;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    transition: all 300ms ease-in;
    
}
.burger:hover {
    transform: scale(1.15);
}
.burger:active {
    transform: rotate(10deg) scale(1.15);
}

.nav {
    display: grid;
    padding: 0.3rem 0;
    align-items: center;
    border-bottom: 2.5px solid var(--color-dark);
    opacity: 0.85;
    margin: 0 1.2rem;
}

.input {
    border: none;
    background: none;
    outline: none;
    color: var(--color-dark);
    padding: 0.3rem;
    max-width: 7.3rem;
    font-size: 0.88rem;
}



.btn {
    border: none;
    background: none;
    border-radius: 0.3rem;
    color: #fff;
    transform: translateY(3px);
    transition: transform 200ms;
}

.btn:hover {
    transform: rotate(30deg);
}

/* Grid */
.container {
    display: grid;
    justify-content: center;
    padding: 1rem 5rem;
}

@media (min-width: 400px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .heading {
        font-size: 2rem;
        margin: 1.8rem 0 0.2rem;
        /* line-height: 1rem; */
    }
}
@media (min-width: 550px) {
    .heading {
        font-size: 2.5rem;
    }
    .search__bar {
        transform: translateX(-3.9rem);
    }
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .nav {
        display: flex;
        justify-content: space-between;
    }
    .logo {
        width: 10rem;
    }
    .burger {
        width: 1.7rem;
        transition: transform 200ms;
        position: static;
    }
}
@media (min-width: 800px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .heading {
        font-size: 3rem;
    }
}
@media (min-width: 1000px) {
    .grid {
        grid-template-columns: repeat(5, 1fr);
    }
    .heading {
        font-size: 3.2rem;
    }
}
@media (min-width: 1300px) {
    .grid {
        grid-template-columns: repeat(6, 1fr);
    }
    .container {
        padding: 1rem 8rem;
    }
}
@media (min-width: 1600px) {
    .grid {
        grid-template-columns: repeat(7, 1fr);
    }
    .container {
        padding: 1rem 10rem;
    }
}
@media (min-width: 2000px) {
    .grid {
        grid-template-columns: repeat(8, 1fr);
    }
    .container {
        padding: 1rem 15rem;
    }
}

/* Character Detail Cards */
.detail__container {
    display: grid;
    justify-items: center;
}
.detail__image {
    width: 4rem;
}
.detail__card {
    margin: 1.5rem;
    display: grid;
    gap: 1.5rem;
}
.card__header {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    background-color: #fff;
    width: 100%;
    font-family: "Rubik Doodle Shadow", system-ui;
    border-radius: var(--card-radius);
    box-shadow: var(--card-shadow);
    padding: 0.3rem 0.5rem;
    transform: rotate(-2.8deg);
    overflow: hidden;
}

.card__body {
    background-image: url(static/paper-vert.jpg);
    background-size: contain;
    padding: 1rem;
    border-radius: 3px;
    font-family: "Coming Soon", cursive;
}

.card__body ul {
    list-style: none;
    padding: 0;
}
.card__body ul p {
    margin: 0;
}
.big__name {
    font-size: 1rem;
}

@media (min-width: 325px) {
    .card__header {
        width: 270px;
    }
}
@media (min-width: 550px) {
    .detail__card {
        display: grid;
        grid-template-columns: 270px 1fr;
    }
    .card__header {
        height: 154px;
        margin-top: 2rem;
    }
    .card__body {
        max-width: 24rem;
    }
}

/* Menu */
.menu {
    background: rgb(60, 60, 60);
    position: absolute;
    right: 1.2rem;
    width: 8rem;
    background-image: url(static/paper-vert.jpg);
    background-size: contain;
    padding: 0.5rem;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    text-wrap: nowrap;
    display: grid;
    justify-items: center;
    box-shadow: var(--card-shadow);
}

.menu__link {
    font-family: "Coming Soon", cursive;
    text-decoration: none;
    color: #000;
}
.menu__link:hover {
    text-decoration: underline;
}